.rounded-border-full{
    border-radius: 9999px;
  }

.text-green{
    color:green;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    label{
        font-size: large;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}